<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>java</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="n-support">请使用Chrome、Safari等webkit内核的浏览器！</div>
<div class="n-head">
    <div class="g-doc f-cb">

        <div th:switch="${userInfo.valid}">
            <div th:case="true" class="user">

                <span th:if="${userInfo.isSeller()}" th:text="卖家你好"></span>

                <span th:if="${userInfo.isBuyer()}" th:text="买家你好"></span>

                <span th:text="${userInfo.getName()}" class="name"></span>
                <a href="/logout">[退出]</a>
            </div>

            <div th:case="false" class="user">
                请<a href="/login">[登录]</a>
            </div>
        </div>

        <ul class="nav">
            <li><a href="/">首页</a></li>

            <li th:if="${userInfo.isSeller()}">
                <a href="/public">发布</a>
            </li>

            <li th:if="${userInfo.isBuyer()}">
                <a href="/account">账务</a>
            </li>

            <li th:if="${userInfo.isBuyer()}">
                <a href="/settleAccount">购物车</a>
            </li>
        </ul>
    </div>
</div>
<div class="g-doc">
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>已购买的内容</h2>
    </div>
    <table class="m-table m-table-row n-table g-b3">
        <colgroup>
            <col class="img"/>
            <col/>
            <col class="time"/>
            <col/>
            <col class="num"/>
            <col/>
            <col class="price"/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>内容图片</th>
            <th>内容名称</th>
            <th>购买时间</th>
            <th>购买数量</th>
            <th>购买价格</th>
        </tr>
        </thead>
        <tbody>


        <tr th:each="record : ${records}">
            <td><a th:href="@{'/show?id=' + ${record.getId()}}"><img th:src="${record.getImage()}" alt=""></a></td>
            <td><h4><a th:href="@{'/show?id=' + ${record.getId()}}" th:text="${record.getTitle()}"></a></h4></td>
            <td><span class="v-time" th:text="${record.getCreateTime()}"></span></td>
            <td><span class="v-num" th:text="${record.getNumber()}"></span></td>
            <td><span class="v-unit">¥</span><span class="value" th:text="${record.getPrice()}"></span></td>
        </tr>

        <!--<tr>-->
            <!--<td><a href="/show?id=101"><img src="asdas" alt=""></a></td>-->
            <!--<td><h4><a href="/show?id=101">news</a></h4></td>-->
            <!--<td><span class="v-time">2019-02-11 04:41</span></td>-->
            <!--<td><span class="v-num">3</span></td>-->
            <!--<td><span class="v-unit">¥</span><span class="value">10</span></td>-->
        <!--</tr>-->

        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <div class="total">总计：</div>
            </td>
            <td><span class="v-unit">¥</span><span class="value" th:text="${total}"></span></td>
        </tr>
        </tfoot>
    </table>
</div>
<div class="n-foot">
    <p>版权所有：网易云课堂<a href="http://mooc.study.163.com/smartSpec/detail/85002.htm">Java开发工程师(Web方向)</a>微专业团队</p>
</div>
</body>
</html>