<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>java</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div class="n-support">请使用Chrome、Safari等webkit内核的浏览器！</div>

<div class="n-head">
    <div class="g-doc f-cb">

        <div th:switch="${userInfo.valid}">
            <div th:case="true" class="user">

                <span th:if="${userInfo.isSeller()}" th:text="卖家你好"></span>

                <span th:if="${userInfo.isBuyer()}" th:text="买家你好"></span>

                <span th:text="${userInfo.getName()}" class="name"></span>
                <a href="/logout">[退出]</a>
            </div>

            <div th:case="false" class="user">
                请<a href="/login">[登录]</a>
            </div>
        </div>

        <ul class="nav">
            <li><a href="/">首页</a></li>

            <li th:if="${userInfo.isSeller()}">
                <a href="/public">发布</a>
            </li>

            <li th:if="${userInfo.isBuyer()}">
                <a href="/account">账务</a>
            </li>

            <li th:if="${userInfo.isBuyer()}">
                <a href="/settleAccount">购物车</a>
            </li>
        </ul>
    </div>
</div>

<div class="g-doc">
    <div class="n-show f-cb" id="showContent">
        <div class="img">
            <img th:src="${good.getImage()}" alt="">
        </div>
        <div class="cnt">
            <h2 th:text="${good.getTitle()}"></h2>
            <p th:text="${good.getSummary()}" class="summary"></p>

            <div class="price">
                <span class="v-unit">¥</span><span th:text="${good.price}" class="v-value"></span>
            </div>
            <div class="num">
                购买数量：
                <span id="plusNum" class="lessNum"><a>-</a></span>

                <span th:if="${good.getHasBuy()}" th:text="${good.getBuyNum()}" class="totalNum" id="allNum"></span>

                <span th:if="${good.getHasBuy() == false}" class="totalNum" id="allNum">1</span>

                <span id="addNum" class="moreNum"><a>+</a></span>
            </div>

            <div th:if="${good.getHasBuy()}" class="oprt f-cb">
                <span class="u-btn u-btn-primary z-dis">已购买</span>
                <span class="buyprice">当时购买价格：¥<span th:text="${good.getBuyPrice()}"></span></span>
            </div>

            <div th:if="${userInfo.isSeller()}" class="oprt f-cb">
                <a th:href="@{'/edit?id=' + ${good.getId()}}" class="u-btn u-btn-primary">编 辑</a>
            </div>

        </div>
    </div>
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>详细信息</h2>
    </div>
    <div class="n-detail">
        <p th:text="${good.getDetail()}"></p>
    </div>
</div>
<div class="n-foot">
    <p>版权所有：网易云课堂<a href="http://mooc.study.163.com/smartSpec/detail/85002.htm">Java开发工程师(Web方向)</a>微专业团队</p>
</div>
<script type="text/javascript" src="/js/global.js"></script>
<script type="text/javascript" src="/js/pageShow.js"></script>
</body>
</html>